#!/usr/bin/make -f
#DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	make all

override_dh_auto_test:
	fontlint 3270Medium.otf 3270Medium.pfm 3270Medium.ttf 3270Medium.woff

override_dh_auto_install:

override_dh_auto_clean:
	make clean
	rm -f 3270Medium_HQ_Narrow.sfd
